.idea/*

*.pyc
.metadata*
*.dll
*.dll.mdb
*.userprefs
*~
RemoteSystemsTempFiles
csharp_tests/test-results
csharp_tests/bin
src/build
**/*target*
**/*.lprof
doc/_build
.project
.pydevproject
src/MANIFEST
