.idea/*

*.pyc
.metadata*
*.dll
*.dll.mdb
*.userprefs
*~
RemoteSystemsTempFiles
src/build
# **/*target*
test/build/
**/*.lprof
doc/_build
.project
.pydevproject
src/MANIFEST
__pycache__/
.mypy_cache/
*.smcat
codegen/